<!-- Scripts -->
<script src="{{ '/js/jquery.min.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/js/jquery.scrollex.min.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/js/jquery.scrolly.min.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/js/skel.min.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/js/util.js' | prepend: site.baseurl }}"></script>
<!--[if lte IE 8]><script src="{{ '/js/ie/respond.min.js' | prepend: site.baseurl }}"></script><![endif]-->
<script src="{{ '/js/main.js' | prepend: site.baseurl }}"></script>
{% if page.script-includes %}
{%   for include in page.script-includes %}
{%     assign test1 = include | slice: 0,4 %}
{%     if test1 == "http" %}
<script src="{{ include }}"></script>
{%     else %}
<script src="{{ include | prepend: '/assets/js/' | prepend: site.baseurl}}"></script>
{%     endif %}
{%   endfor %}
{% endif %}
{%
  if page.script %}
<script>
{{ page.script }}
</script>
{% endif %}

<script>
  MathJax = {
    loader: {load: ['[tex]/html', '[tex]/cases']},
    tex: {
      packages: {'[+]': ['html', 'cases']},
      inlineMath: [['$', '$'], ['\\(', '\\)']]
    },
    svg: {
      fontCache: 'global'
    }
  };
</script>
<script type="text/javascript" id="MathJax-script" async
  src="https://cdn.jsdelivr.net/npm/mathjax@4.0.0-beta.6/tex-mml-chtml.js">
</script>